<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<head>
  <title>
    List Accounts
  </title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle_home.css') }}">
</head>
<body>
    <nav>
      <div class="nav-wrapper black">
        <a href="#" class="brand-logo"><img class="img-fire" src="/static/img/fire-clipart-transparent-background-3.png" alt="Cindr"></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/home">Home</a></li>
        </ul>
      </span>
      </div>
    </nav>
    <div class="container">
      <h1>Accounts</h1>
      {% for account in accounts %}
      <div class="account">
        <span class="accountName">{{ account.accountName }}</span><br>
        <span class="accountBalance">Current Balance: {{ account.balance.amount }} {{ account.balance.currency }}</span><br>
        <a href="/viewAccount/{{ account.id }}?from_year=1900&from_month=01&from_day=01&to_year=2020&to_month=01&to_day=01">View More</a>
      </div>
      {% endfor %}
    </div>
</body>
</html>
