<!DOCTYPE html>
<html>

<head>
    <title>
        Transactions
    </title>
    <!-- <link rel="stylesheet" type="text/css" href="mystyle_login.css"> -->
</head>

<body>
    <!-- <img class="img-fire" src="img/fire.jpg" alt="Cindr"> -->
    <h1>Login</h1>
    <div>
        <form action="/login" method="POST">
            <!-- <label class='username'>username</label> -->
            <input type="text" name="username" placeholder="Username" value="sbMemdcddf2bf509e1bd18aba3e09326e978d8a1">

            <!-- <label class='password'>password</label> -->
            <input type="text" name="password" placeholder="Password" value="sbMemdcddf2bf509e1bd18aba3e09326e978d8a1#123">
            <button type="submit" class="submit">Submit</button>
        </form>
    </div>




    <!--<form action="/login" method="POST">
        Username: <input name="username" value="sbMemdcddf2bf509e1bd18aba3e09326e978d8a1"><br>
        Password: <input name="password" value="sbMemdcddf2bf509e1bd18aba3e09326e978d8a1#123">
        <button type="submit">Submit</button>
    </form> -->
</body>

</html>